body {
    background-image: linear-gradient(207deg, var(--sotoh-light-blue) 1.29%, var(--sotoh-pink) 132.17%);

    &:not(.page-home) {
        background-image: none;
        background-color: #CFE4FF;
    }
}

::selection {
    background-color: var(--ohf-dark-blue);
    color: #fff;
}