body {
    background-image: linear-gradient(207deg, #59B2FF 1.29%, #D655EC 132.17%);
    font-family: var(--typography-body-font-family);
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    font-family: var(--typography-heading-font-family);
    font-weight: var(--typography-heading-font-weight);
}

strong {
    font-weight: 600;
}