body {
  font-family: var(--typography-body-font-family);
  color: var(--text-on-dark);
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: var(--typography-heading-font-family);
  font-weight: var(--typography-heading-font-weight);
  text-wrap: balance;
  color: var(--text-on-dark);
  margin-bottom: 2rem;
  text-transform: uppercase;
  line-height: 1;
}

h1,
.h1 {
  font-size: clamp(2rem, 1.2727rem + 3.6364vw, 4rem);
}

h2,
.h2 {
  font-size: clamp(1.5rem, 1.2273rem + 1.3636vw, 2.25rem);
}

p,
.p {
  color: var(--text-on-dark);
  font-size: 1rem;
  text-wrap: balance;
  line-height: 1.18;

  &--large {
    font-size: clamp(1.125rem, 0.9886rem + 0.6818vw, 1.5rem);
    line-height: 1.16;
  }

  &:not(:last-child) {
    margin-bottom: 1rem;
  }
}

strong {
  font-weight: 600;
}