---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Tickertape from "../components/Tickertape.astro";
import Footer from "../sections/Footer.astro";
import AccessibilityGuideHero from "../sections/AccessibilityGuideHero.astro";
import AccessibilityFAQ from "../sections/AccessibilityFAQ.astro";
import Container from "../components/Container.astro";
import Content from "../components/Content.astro";

const title = "Accessibility - State of the Open Home";
const description =
  "Building an open and inclusive event means ensuring everyone can participate and have a positive experience. Read our accessibility guide for State of the Open Home 2026.";
---

<Layout
  bodyClass="page-accessibility"
  includeEventSchema={false}
  title={title}
  description={description}
>
  <Header slot="header" lightMode />
  <section class="block block-accessibility-guide">
    <AccessibilityGuideHero />
  </section>
  <section class="block block-accessibility-faq">
    <Container containerClass="container--column">
      <h2 class="h2 text-dark text-center">Got some questions?</h2>
      <AccessibilityFAQ />
    </Container>
    <Container containerClass="container--column">
      <Content>
        <div class="content-container content-container--source">
          <p>
            Source: <a href="https://www.tivolivredenburg.nl/english/faq/" target="_blank" rel="noreferrer noopener"
              >Tivolivredenburg website</a
            > & <a href="https://www.tivolivredenburg.nl/bezoek/toegankelijkheid/" target="_blank" rel="noreferrer noopener"
              >Accessibility page</a>
          </p>
        </div>
      </Content>
    </Container>
  </section>
  <section class="block block-tickertape">
    <Tickertape theme="yellow" class="full-width" fullWidth={true} />
  </section>
  <Footer />

  <style lang="scss">
    .block {
      &-accessibility-faq {
        padding: 4.5rem 0;

        .content-container--source {
          width: 100%;
          max-width: 100%;
          margin-top: 2rem;
          background: rgba(247, 246, 242, 0.4);
          border-radius: 0.75rem;
          padding: 0.75rem 1.5rem;

          p {
            color: var(--ohf-dark-grey);
          }

          a {
            color: var(--ohf-dark-grey);
            text-decoration: none;

            background-image: linear-gradient(
              transparent calc(100% - 2px),
              var(--ohf-dark-grey) 2px
            );
            background-size: 100% 100%;
            background-repeat: no-repeat;
            transition: background-size 0.3s;

            &:hover {
              background-size: 0% 100%;
            }
          }
        }
      }
    }
  </style>
</Layout>
