---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Container from "../components/Container.astro";
import Tabs from "../components/Tabs.astro";
import Tab from "../components/Tab.astro";
import EventFAQ from "../sections/EventFAQ.astro";
import TicketInclusionsFAQ from "../sections/TicketInclusionsFAQ.astro";
---

<Layout bodyClass="page-faq">
  <Header slot="header" lightMode />
  <section class="block block-event-faq">
    <Container containerClass="container--column">
      <h2 class="h2 text-dark text-center">Got some questions?</h2>
      <Tabs>
        <Tab group="resources" title="The Event" isActive={true}>
          <EventFAQ />
        </Tab>
        <Tab group="resources" title="Ticket and Inclusions">
          <TicketInclusionsFAQ />
        </Tab>
      </Tabs>
    </Container>
  </section>
</Layout>
