---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Hero from "../components/Hero.astro";
import Countdown from "../components/Countdown.astro";
import Building from "../sections/Building.astro";
import TickertapeGroup from "../components/TickertapeGroup.astro";
import WhatIs from "../sections/WhatIs.astro";
import Carousel from "../components/Carousel.astro";
import Why from "../sections/Why.astro";
import Tickertape from "../components/Tickertape.astro";
import BePart from "../sections/BePart.astro";
import Footer from "../sections/Footer.astro";
---

<Layout>
  <Header slot="header" />
  <section class="block block-hero">
    <Hero />
  </section>
  <section class="block block-countdown">
    <Countdown />
  </section>
  <section class="block block-building">
    <Building />
  </section>
  <section class="block block-tickertape-group">
    <TickertapeGroup />
  </section>
  <section class="block block-what-is" id="what-is-state-of-the-open-home">
    <WhatIs />
  </section>
  <section class="block block-image-carousel">
    <Carousel />
  </section>
  <section class="block block-why" id="why-we-are-building-in-the-open">
    <Why />
  </section>
  <section class="block block-be-part" id="be-part-of-the-conversation">
    <BePart />
  </section>
  <section class="block block-tickertape">
    <Tickertape theme="yellow" class="full-width" fullWidth={true} />
  </section>
  <Footer />
</Layout>

<style lang="scss">
  .block {
    &-hero {
      margin-bottom: 2rem;
    }

    &-countdown {
      margin-bottom: 6rem;
    }

    &-tickertape-group {
      overflow: hidden;
    }

    &-what-is,
    &-image-carousel,
    &-why {
      margin-bottom: 5rem;
    }
  }
</style>
