---
import TextLayout from "../layouts/TextLayout.astro";
---

<TextLayout title="" noindex={true}>
  <div class="content-container-alt">
    <iframe
      src="https://player.jetstre.am/?account=StreamCo&file=sotoh&type=live&service=wowza&output=player&poster=sotoh.jpg&autostart=1"
      seamless
      allow="autoplay; fullscreen"
      allowfullscreen="true"></iframe>
  </div>
</TextLayout>

<style lang="scss">
  .content-container-alt {
    h1,
    .h1,
    h2,
    .h2,
    h3,
    .h3,
    p,
    ul,
    ol {
      color: var(--text-on-light);
    }

    iframe {
      width: 100%;
      height: auto;
      aspect-ratio: 16 / 9;
    }
  }
</style>
