---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Tickertape from "../components/Tickertape.astro";
import Footer from "../sections/Footer.astro";
import Tivolivredenburg from "../sections/Tivolivredenburg.astro";
import EventFAQ from "../sections/EventFAQ.astro";
import Tabs from "../components/Tabs.astro";
import Tab from "../components/Tab.astro";
import TicketInclusioonsFAQ from "../sections/TicketInclusioonsFAQ.astro";
---

<Layout>
  <Header slot="header" />
  <section class="block block-be-part" id="be-part-of-the-conversation">
    <Tivolivredenburg />
  </section>
  <section class="block block-tickertape">
    <Tickertape theme="yellow" class="full-width" fullWidth={true} />
  </section>
  <section class="block block-event-faq">
    <h2 class="h1">Got some questions?</h2>
    <Tabs>
      <Tab group="resources" title="The Event" isActive={true}>
        <EventFAQ />
      </Tab>
      <Tab group="resources" title="Ticket and Inclusions">
        <TicketInclusioonsFAQ />
      </Tab>
    </Tabs>
    <Footer />
  </section>

  <style lang="scss">
    .block {
      &-hero {
        margin-bottom: 2rem;
      }

      &-countdown {
        margin-bottom: 6rem;
      }

      &-tickertape-group {
        overflow: hidden;
      }

      &-image-carousel {
        padding-top: 5rem;
      }

      &-what-is,
      &-image-carousel,
      &-why {
        margin-bottom: 5rem;
      }
    }
  </style>
</Layout>
