---
import { ICONS, type ICON } from "../lib/icons";

interface Props {
  class?: string;
  href?: string;
  icon?: ICON;
}
const { class: className = "", href = "/error", icon } = Astro.props;
---

<a class={className} href={href}>
  {
    icon ? (
      <div class="button-icon">
        <Fragment set:html={ICONS[icon]} />
      </div>
    ) : null
  }
  <span class="button-text">
    <span class="button-text__default"><slot /></span>
    <span class="button-text__hover" aria-hidden="true"><slot /></span>
  </span>
</a>

<style lang="scss" is:global>
  @use "../styles/mixins/breakpoint.scss" as *;

  .button {
    color: var(--text-on-dark);
    padding: 8px 12px;
    border-radius: 40px;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-family: var(--typography-heading-font-family);
    font-weight: var(--typography-heading-font-weight);
    font-size: 0.75rem;
    gap: 12px;

    @include bp(large-mobile) {
      padding: 12px 24px;
    }

    &:has(.button-icon) {
      padding: 0.5rem 1.5rem 0.5rem 0.5rem;
    }

    &-icon {
      display: grid;
      place-items: center;
      background-color: white;
      height: 24px;
      width: 24px;
      border-radius: 50%;
    }

    &--hollow {
      border: 2px solid var(--sotoh-yellow);
    }

    &-text {
      display: block;
      position: relative;
      overflow: hidden;

      &__default,
      &__hover {
        display: block;
        transition: transform 0.3s ease-in-out;
      }

      &__default {
        transition: color 0.3s ease-in-out;
      }

      &__hover {
        position: absolute;
        top: 0;
        left: 0;
        transform: translateY(100%);
      }

      @media (prefers-reduced-motion: reduce) {
        &__hover {
          display: none;
        }

        &__default,
        &__hover {
          transition: none;
        }
      }
    }

    &:hover &-text {
      &__default {
        transform: translateY(-100%);
      }

      &__hover {
        transform: translateY(0);
      }

      @media (prefers-reduced-motion: reduce) {
        &__default {
          transform: none;
        }
      }
    }

    &--primary {
      background-color: var(--sotoh-yellow);
      color: var(--ohf-dark-blue);
      transition: background-color 0.3s ease-in-out;

      .button-text__hover {
        color: var(--sotoh-yellow);
      }

      &:hover {
        background-color: var(--ohf-dark-blue);

        @media (prefers-reduced-motion: reduce) {
          .button-text__default {
            color: var(--sotoh-yellow);
          }
        }
      }
    }
  }
</style>
