---
const { cta = "Button", class: className = "", href = "/error" } = Astro.props;
---

<a class={className} href={href}>{cta}</a>

<style lang="scss">
  .button {
    color: black;
    padding: 12px 24px;
    border-radius: 40px;
    flex-shrink: 0;

    &--hollow {
      border: 2px solid red;
    }

    &--primary {
      background-color: red;
      color: white;
    }
  }
</style>
