---
import type { ICON } from "../lib/icons";
import { ICONS } from "../lib/icons";

interface Props {
  icon: ICON;
}
const { icon } = Astro.props;
---

<div class="button-icon">
  <Fragment set:html={ICONS[icon]} />
</div>

<style>
  .button-icon {
    display: grid;
    place-items: center;
    background-color: white;
    height: 24px;
    width: 24px;
    border-radius: 50%;
  }

  :global(svg) {
    color: var(--text-on-light);
  }
</style>
