---
interface Props {
  containerClass?: string;
}

const { containerClass = "" } = Astro.props;
---

<div class={`container ${containerClass}`}><slot /></div>

<style lang="scss">
  @use "../styles/mixins/breakpoint.scss" as *;

  .container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1.25rem;
    gap: 40px;

    display: flex;
    flex-direction: column;

    @include bp(tablet) {
      flex-direction: row;
    }

    @include bp(large-desktop) {
      padding: 0;
    }

    &--hero {
      padding: 2rem 1.25rem;
      text-align: center;

      flex-direction: column;
      align-items: center;

      @include bp(large-desktop) {
        padding: 4.5rem 5rem;
      }
    }

    &--column {
      flex-direction: column;
      align-items: center;
      gap: 0;

      @include bp(tablet) {
        flex-direction: column;
      }
    }
  }
</style>
