---
import { Image } from "astro:assets";
import Container from "./Container.astro";

interface Props {
  image: Image;
  hasScrollEntry?: boolean;
  imageCopyright?: string;
}

const { image, hasScrollEntry = true, imageCopyright } = Astro.props;
---

<div class="full-image" data-has-scroll-entry={hasScrollEntry}>
  <div class="full-image-media">
    <Image
      widths={[500, 768, 1024, 1280, 1440, 1920, 2160, 2560]}
      src={image}
      alt=""
    />

    {imageCopyright && <Fragment set:html={imageCopyright} />}
  </div>
  <div class="full-image-content">
    <Container>
      <slot />
    </Container>
  </div>
</div>

<script>
  import gsap from "gsap";
  import { ScrollTrigger } from "gsap/ScrollTrigger";

  const hasScrollEntry =
    document
      .querySelector(".full-image")
      ?.getAttribute("data-has-scroll-entry") === "true";

  if (hasScrollEntry) {
    gsap.registerPlugin(ScrollTrigger);
    const mediaQuery = window.matchMedia("(min-width: 768px)");
    const prefersReducedMotion = window.matchMedia(
      "(prefers-reduced-motion: reduce)",
    );

    const initFullImageAnimations = () => {
      if (prefersReducedMotion.matches) return;

      document
        .querySelectorAll(".full-image-media:not([data-initialized])")
        .forEach((media) => {
          media.setAttribute("data-initialized", "");

          const img = media.querySelector("img");
          const scrollTriggerConfig = {
            trigger: media,
            start: "top bottom",
            end: "25% 50%",
            scrub: 0.5,
          };

          gsap.fromTo(
            media,
            { scale: 0.85 },
            {
              scale: 1,
              ease: "none",
              scrollTrigger: scrollTriggerConfig,
            },
          );

          if (img) {
            gsap.fromTo(
              img,
              {},
              {
                borderRadius: "0",
                ease: "none",
                scrollTrigger: scrollTriggerConfig,
              },
            );
          }
        });
    };

    if (mediaQuery.matches) {
      initFullImageAnimations();
    }

    mediaQuery.addEventListener("change", (e) => {
      if (e.matches) {
        initFullImageAnimations();
      }
    });
  }
</script>

<style lang="scss">
  @use "../styles/mixins/breakpoint.scss" as *;

  .full-image {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    padding-bottom: 3rem;

    @include bp(desktop) {
      display: grid;
      padding-bottom: 0;
      margin-bottom: -1px;

      .full-image-media,
      .full-image-content {
        grid-area: 1/1;
      }
    }

    &[data-has-scroll-entry="true"] {
      .full-image-media {
        img {
          border-radius: 1.5rem;

          @include bp(desktop) {
            border-radius: 3rem;
          }

          @media (prefers-reduced-motion: reduce) {
            @include bp(desktop) {
              border-radius: 0;
            }
          }
        }
      }
    }

    &-media {
      width: 100%;
      max-width: 2800px;
      margin: 0 auto;
      padding: 0 1.5rem;

      @include bp(desktop) {
        padding: 0;
        will-change: transform;
      }

      &:after {
        width: 100%;
        height: 100%;

        background: linear-gradient(
          180deg,
          rgba(4, 87, 255, 0) 0%,
          var(--Coding-On-Light, rgba(4, 87, 255, 0.8)) 100%
        );
        mix-blend-mode: multiply;

        position: absolute;
        inset: 0;
        z-index: 1;

        @include bp(desktop) {
          content: "";
        }
      }

      img {
        width: 100%;
        height: auto;
        display: block;

        @include bp(desktop) {
          max-height: 810px;
          object-fit: cover;
          object-position: center 85%;
        }
      }
    }

    &-content {
      z-index: 1;

      @include bp(desktop) {
        align-items: flex-end;
        display: flex;
        padding: 1rem 0 5rem;
      }
    }
  }

  :global(body.page-home) {
    .full-image-content {
      :global(.container) {
        :global(*) {
          color: var(--text-on-dark);
        }
      }
    }
  }

  .full-image-content {
    :global(.container) {
      gap: 0;

      @include bp(tablet) {
        gap: 3rem;
      }

      :global(*) {
        color: var(--text-on-light);
      }

      @include bp(desktop) {
        :global(*) {
          color: var(--text-on-dark);
        }
      }
    }

    :global(.content-container) {
      text-align: center;

      @include bp(tablet) {
        text-align: left;
      }
    }
  }
</style>
