---
import { Image } from "astro:assets";
import Container from "./Container.astro";

const { image } = Astro.props;
---

<div class="full-image">
  <Image src={image} alt="" />
  <div class="full-image-content">
    <Container>
      <slot />
    </Container>
  </div>
</div>

<style lang="scss">
  @use "../styles/mixins/breakpoint.scss" as *;

  .full-image {
    display: grid;
    color: var(--text-on-dark);

    img,
    &-content {
      grid-area: 1/1;
    }

    &-content {
      align-items: flex-end;
      display: flex;
      padding-bottom: 1rem;

      @include bp(tablet) {
        padding-bottom: 3rem;
      }

      @include bp(desktop) {
        padding-bottom: 5rem;
      }
    }
  }
  img {
    width: 100%;
    height: auto;
    display: block;
  }
</style>
