<header class="site-header">
  <a href="/" rel="home" class="logo">
    <svg
      width="183"
      height="46"
      viewBox="0 0 183 46"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        d="M28.5938 22.875C28.5938 26.0334 26.0334 28.5938 22.875 28.5938C19.7166 28.5938 17.1562 26.0334 17.1562 22.875C17.1562 19.7166 19.7166 17.1562 22.875 17.1562C26.0334 17.1562 28.5938 19.7166 28.5938 22.875Z"
        fill="#F7F6F2"></path>
      <path
        d="M11.4375 11.4375C11.4375 5.12074 16.5582 4.99949e-07 22.875 4.99949e-07C29.1918 4.99949e-07 34.3125 5.12074 34.3125 11.4375H11.4375Z"
        fill="#F7F6F2"></path>
      <path
        d="M34.3125 34.3125C34.3125 40.6293 29.1918 45.75 22.875 45.75C16.5582 45.75 11.4375 40.6293 11.4375 34.3125H34.3125Z"
        fill="#F7F6F2"></path>
      <path
        d="M11.4375 34.3125C5.12075 34.3125 5.61013e-07 29.1918 6.3634e-07 22.875C7.11666e-07 16.5582 5.12074 11.4375 11.4375 11.4375L11.4375 34.3125Z"
        fill="#F7F6F2"></path>
      <path
        d="M34.3125 11.4375C40.6293 11.4375 45.75 16.5582 45.75 22.875C45.75 29.1918 40.6293 34.3125 34.3125 34.3125V11.4375Z"
        fill="#F7F6F2"></path>
      <path
        d="M11.4375 11.4375H4.99949e-07C4.99949e-07 5.12074 5.12074 4.99949e-07 11.4375 4.99949e-07V11.4375Z"
        fill="#F7F6F2"></path>
      <path
        d="M34.3125 34.3125H45.75C45.75 40.6293 40.6293 45.75 34.3125 45.75V34.3125Z"
        fill="#F7F6F2"></path>
      <path
        d="M11.4375 34.3125L11.4375 45.75C5.12074 45.75 2.76114e-07 40.6293 0 34.3125H11.4375Z"
        fill="#F7F6F2"></path>
      <path
        d="M34.3125 11.4375V0C40.6293 2.76114e-07 45.75 5.12074 45.75 11.4375H34.3125Z"
        fill="#F7F6F2"></path>
      <path
        d="M160.125 45.75C172.759 45.75 183 35.5085 183 22.875C170.366 22.875 160.125 33.1165 160.125 45.75Z"
        fill="#F7F6F2"></path>
      <path
        d="M160.125 45.75C147.491 45.75 137.25 35.5085 137.25 22.875C149.884 22.875 160.125 33.1165 160.125 45.75Z"
        fill="#F7F6F2"></path>
      <path
        d="M160.125 22.875C172.759 22.875 183 12.6335 183 9.99898e-07C170.366 4.4767e-07 160.125 10.2415 160.125 22.875Z"
        fill="#F7F6F2"></path>
      <path
        d="M160.125 22.875C147.491 22.875 137.25 12.6335 137.25 9.99898e-07C149.884 4.4767e-07 160.125 10.2415 160.125 22.875Z"
        fill="#F7F6F2"></path>
      <path
        d="M160.125 5.71875C156.967 5.71875 154.406 3.15838 154.406 -9.99898e-07L165.844 0C165.844 3.15838 163.283 5.71875 160.125 5.71875Z"
        fill="#F7F6F2"></path>
      <path
        d="M74.3438 9.06836L80.7559 2.65625L88.8438 10.7441L82.4316 17.1562H91.5V28.5938H82.4316L88.8438 35.0059L80.7559 43.0938L74.3438 36.6816V45.75H62.9062V36.6816L56.4941 43.0938L48.4062 35.0059L54.8184 28.5938H45.75V17.1562H54.8184L48.4062 10.7441L56.4941 2.65625L62.9062 9.06836V0H74.3438V9.06836ZM68.625 11.4375C68.625 17.7543 63.5043 22.875 57.1875 22.875C63.5043 22.875 68.625 27.9957 68.625 34.3125L68.6289 34.0176C68.7854 27.8372 73.8444 22.875 80.0625 22.875C73.7457 22.875 68.625 17.7543 68.625 11.4375Z"
        fill="#F7F6F2"></path>
      <path
        d="M102.938 22.875C109.254 22.875 114.375 27.9957 114.375 34.3125C114.375 40.6293 109.254 45.75 102.938 45.75C96.6207 45.75 91.5 40.6293 91.5 34.3125C91.5 27.9957 96.6207 22.875 102.938 22.875ZM125.812 22.875C132.129 22.875 137.25 27.9957 137.25 34.3125C137.25 40.6293 132.129 45.75 125.812 45.75C119.496 45.75 114.375 40.6293 114.375 34.3125C114.375 27.9957 119.496 22.875 125.812 22.875ZM102.938 0C109.254 7.53266e-08 114.375 5.12074 114.375 11.4375C114.375 17.7543 109.254 22.875 102.938 22.875C96.6207 22.875 91.5 17.7543 91.5 11.4375C91.5 5.12074 96.6207 7.21007e-08 102.938 0ZM125.812 0C132.129 7.21007e-08 137.25 5.12074 137.25 11.4375C137.25 17.7543 132.129 22.875 125.812 22.875C119.496 22.875 114.375 17.7543 114.375 11.4375C114.375 5.12074 119.496 7.53266e-08 125.812 0Z"
        fill="#F7F6F2"></path>
    </svg>
  </a>
  <nav>
    <ul>
      <li><a href="/">Link 1</a></li>
      <li>
        <a href="/">Link 1</a>
        <ul>
          <li><a href="/">Sub Link 1</a></li>
          <li><a href="/">Sub Link 2</a></li>
          <li><a href="/">Sub Link 3</a></li>
        </ul>
      </li>
      <li><a href="/">Link 1</a></li>
    </ul>
  </nav>

  <div class="site-header__ctas">
    <a class="button button--hollow" href="/">CTA 1</a>
    <a class="button button--primary" href="/">CTA 2</a>
  </div>
</header>
