---
import Container from "../components/Container.astro";
import Content from "../components/Content.astro";

import { Image } from "astro:assets";

import logoPlaceholder from "../images/logo-placeholder.png";
---

<Container containerClass="container--hero">
  <Image src={logoPlaceholder} alt="Placeholder Image" />

  <Content>
    <ul>
      <li>Save the date</li>
      <li>Wednesday, April 8 2026</li>
      <li>Utrecht, The Netherlands</li>
    </ul>
    <h1 class="h1">STATE OF THE OPEN HOME</h1>
  </Content>
</Container>

<style lang="scss">
  @use "../styles/mixins/breakpoint.scss" as *;
</style>
