---
import { Image } from "astro:assets";

import logoPlaceholder from "../images/logo-placeholder.png";
---

<div class="container">
  <Image src={logoPlaceholder} alt="Placeholder Image" />

  <ul>
    <li>Save the date</li>
    <li>Wednesday, April 8 2026</li>
    <li>Utrecht, The Netherlands</li>
  </ul>

  <h1 class="h1">STATE OF THE OPEN HOME</h1>
</div>

<style lang="scss">
  @use "../styles/mixins/breakpoint.scss" as *;

  .container {
    width: 100%;
    max-width: 1200px;
    padding: 2rem 1.25rem;
    margin: 0 auto;
    text-align: center;

    @include bp(large-desktop) {
      padding: 4.5rem 5rem;
    }
  }
</style>
