---
interface Props {
  variant?: 1 | 2 | 3 | 4 | 5 | 6 | 7 | 8 | 9;
}

const { variant } = Astro.props;

const backgroundImage = variant
  ? `/images/speaker-cards/speaker-card-${variant}.webp`
  : "/images/speaker-cards/speaker-card-1.webp";
---

<div class="speaker-card" style={`background-image: url(${backgroundImage})`}>
</div>

<style lang="scss">
  .speaker-card {
    width: 100%;
    aspect-ratio: 1 / 1;
    background-size: cover;
    background-position: center;
    border-radius: 8px;
  }
</style>
