---
import { ICONS } from "../lib/icons";

interface Props {
  theme?: "blue" | "yellow" | "purple";
  class?: string;
  speed?: number;
  offset?: number;
}

const {
  theme = "blue",
  class: className = "",
  speed = 1,
  offset = 0,
} = Astro.props;
---

<div
  class={`tickertape tickertape--${theme} ${className}`}
  data-speed={speed}
  style={offset ? `--animation-offset: ${offset}` : undefined}
>
  <div class="tickertape-track">
    <div class="tickertape-item">
      <Fragment set:html={ICONS["tickerTape"]} />
    </div>
    <div class="tickertape-item" aria-hidden="true">
      <Fragment set:html={ICONS["tickerTape"]} />
    </div>
    <div class="tickertape-item" aria-hidden="true">
      <Fragment set:html={ICONS["tickerTape"]} />
    </div>
    <div class="tickertape-item" aria-hidden="true">
      <Fragment set:html={ICONS["tickerTape"]} />
    </div>
  </div>
</div>

<style lang="scss">
  .tickertape {
    --text-color: var(--text-on-dark);
    --background-color: var(--sotoh-blue);
    --animation-duration: 15s;
    --animation-offset: 0;
    --overhang: 3.75rem;
    --max-width: 1600px;

    &--blue {
      transform: scale(0.8);
    }

    &--yellow {
      --background-color: var(--sotoh-yellow);
      --text-color: var(--text-on-light);
    }

    &--purple {
      --background-color: var(--sotoh-purple);
    }

    width: calc(100% + var(--overhang) * 2);
    max-width: var(--max-width);
    margin-inline: auto;
    background-color: var(--background-color);
    overflow: hidden;
    position: relative;

    @media (max-width: 1700px) {
      margin-inline: calc(var(--overhang) * -1);
      border-radius: 0;
    }

    :global(svg) {
      color: var(--text-color);
    }

    &.full-width {
      width: 100%;
      max-width: 100%;
      margin-inline: 0;
    }
  }

  .tickertape-track {
    display: flex;
    flex-direction: row;
    width: fit-content;
    animation: marquee var(--animation-duration) linear infinite;
    animation-delay: calc(
      var(--animation-offset) * var(--animation-duration) * -1
    );

    @media (prefers-reduced-motion: reduce) {
      animation: none;
    }
  }

  .tickertape-item {
    flex-shrink: 0;

    :global(svg) {
      display: block;
    }
  }

  @keyframes marquee {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(calc(-100% / 4));
    }
  }
</style>
