---
import Container from "../components/Container.astro";
import FAQ from "../components/FAQ.astro";
import FAQItem from "../components/FAQItem.astro";
---

<Container>
  <FAQ>
    <FAQItem title="Is the venue accessible for visitors with disabilities?">
      <p>
        Yes. TivoliVredenburg is fully accessible. Pandora Hall is on the 7th
        floor and is accessible via elevators.
      </p>
      <p>
        The building is large and has multiple halls and venues on different
        floors, where programs can take place simultaneously. On this page, you
        can read more so you can properly prepare for your visit.
      </p>
      <p>
        <strong>Accessible entrance:</strong> The most accessible entrance to TivoliVredenburg
        is located on Vredenburgkade next to the Singel canal. This entrance leads
        to the main hall. You can speak to one of our staff members there to be guided
        to the correct location. You can also borrow a lift pass at the ticket office
        in the main hall, for example, to access a hall independently in a wheelchair.
      </p>
      <p>
        TivoliVredenburg is fully accessible to visitors with mobility
        requirements. The different halls of TivoliVredenburg are connected by
        squares, corridors, stairs, elevators and some also by escalators. The
        route to a hall can differ per day.
      </p>
      <p>
        It can be useful to ask one of our staff to accompany you to the right
        location, because the building is very large. To get to the right floor,
        elevator passes are available from the box office in the central lobby.
      </p>
      <p>
        If you have any questions or need any help, please feel free to contact
        us.
      </p>
    </FAQItem>
    <FAQItem title="Wheelchair & walker">
      <p>
        All halls are wheelchair accessible. In most cases, you can purchase a
        wheelchair ticket directly from the venue's webshop. If you need
        assistance or have any questions, please contact our ticketing
        department at
        <a href="mailto:kaartverkoop@tivolivredenburg.nl"
          >kaartverkoop@tivolivredenburg.nl</a
        >. There are a limited number of wheelchair spaces per venue. Therefore,
        wheelchair spaces may be sold out and we may not be able to accommodate
        you in a wheelchair. If you are traveling with someone without a
        disability, they will need a regular ticket for the concert/event.
      </p>
      <p>
        Our venues are accessible by elevator. You can borrow a lift pass at the
        ticket office in the main hall. Accessible restrooms are located on the
        ground floor, first floor, fifth floor, sixth floor, and eighth floor.
        The most accessible restroom depends on which venue you're attending a
        concert in. On the day of the event, you can ask our staff for
        directions to the restrooms.
      </p>
      <p>
        Unfortunately, visiting TivoliVredenburg with a mobility scooter is not
        possible. Walkers are also not permitted in the auditorium, although
        exceptions are possible for some venues and productions. We do provide
        crutches for seating. Walkers can often be parked near these crutches
        outside the auditorium. See the "Difficulty with mobility" section for
        more information about crutches and how to register them. For more
        information, please contact our ticketing department at
        <a href="mailto:kaartverkoop@tivolivredenburg.nl"
          >kaartverkoop@tivolivredenburg.nl</a
        >.
      </p>
    </FAQItem>
    <FAQItem title="How do I order a wheelchair seat?">
      <p>
        In most cases, wheelchair seats are available in our webshop. If you
        have any questions or need any help, please feel free to contact us.
      </p>
    </FAQItem>
    <FAQItem title="Can I use an elevator?">
      <p>
        Our employees are always ready to help visitors with reduced mobility,
        for example with the use of the lifts. If you would like to take the
        lift to the hall independently, you can borrow a lift pass at our box
        office. Please contact us in advance.
      </p>
    </FAQItem>
    <FAQItem title="Walking difficulties?">
      <p>
        Are you unable to stand for a long time during a concert or to sit for a
        long time in a hard-to-reach place? Please contact us prior to the event
        to get tailored advice about the optimal visiting conditions for you.
      </p>
    </FAQItem>
    <FAQItem title="Blind or partially sighted">
      <p>
        It can be challenging to visit some of TivoliVredenburg's venues
        independently. We're happy to help. Please contact our ticketing
        department before your visit at
        <a href="mailto:kaartverkoop@tivolivredenburg.nl"
          >kaartverkoop@tivolivredenburg.nl</a
        >. You can borrow a lift pass at the ticket office in the main hall. Our
        staff will be happy to escort you to the venue.
      </p>
      <p>
        Would you like to bring an assistance dog? Read more in the next section
        below.
      </p>
    </FAQItem>
    <FAQItem title="Assistance dog">
      <p>
        An officially trained assistance dog (such as a guide dog) is generally
        allowed at the concert, provided it is identifiable by the school's logo
        on its cover or harness. Please be mindful of the dog's well-being
        during the event you're attending; loud music and bright lights are not
        suitable environments for dogs (and hinder assistance dogs from
        performing their duties properly). Please let us know in advance if you
        intend to bring an assistance dog. Please contact our ticketing
        department at
        <a href="mailto:kaartverkoop@tivolivredenburg.nl"
          >kaartverkoop@tivolivredenburg.nl</a
        >. We also need to know which dog training school the assistance dog was
        trained at. For assistance dogs in training, we assess the suitability
        of the conditions for each individual concert.
      </p>
    </FAQItem>
    <FAQItem title="Can I visit the venue beforehand to view the auditorium?">
      <p>
        Are you a first-time visitor to TivoliVredenburg and feeling a bit
        nervous? We offer the option of viewing the route to the venue, the
        cloakroom, and the auditorium itself earlier at a quieter time during
        the day. Please contact our ticketing department at
        <a href="mailto:kaartverkoop@tivolivredenburg.nl"
          >kaartverkoop@tivolivredenburg.nl</a
        >.
      </p>
    </FAQItem>
  </FAQ>
</Container>
