---
import FullImage from "../components/FullImage.astro";

import sotoh2025 from "../images/accessibility.webp";
---

<FullImage image={sotoh2025} hasScrollEntry={false}>
  <h2 class="h2">Accessibility Guide</h2>
  <div class="content-container">
    <p class="p--large">
      We want everyone to be able to enjoy our event experience, so here is more
      information about the venue’s accessibility so you can properly prepare
      for your visit.
    </p>
    <p class="p--small align-right image-copyright-desktop" aria-hidden="true">
      Photo by <strong>Ward Mevis </strong>
    </p>
  </div>
</FullImage>
