---
import FullImage from "../components/FullImage.astro";

import sotoh2025 from "../images/73c53fd29806a0d26241809b75c6cb1eb462380d.jpg";
---

<FullImage image={sotoh2025} hasScrollEntry={false}>
  <h2 class="h2">Accessibility Guide</h2>
  <div class="content-container">
    <p>
      Building an open and inclusive event means ensuring everyone can
      participate and have a positive experience. TivoliVredenburg is designed
      to be accessible to all visitors, and we're here to help with any specific
      needs you may have.
    </p>
  </div>
</FullImage>
