---
import FullImage from "../components/FullImage.astro";

import sotoh2025 from "../images/73c53fd29806a0d26241809b75c6cb1eb462380d.jpg";
---

<FullImage image={sotoh2025}>
  <h2 class="h2">Be part of the conversation</h2>
  <div class="content-container">
    <p>
      This is your chance to influence the discussion as it happens. Ask the
      questions that matter to you, share your perspective, push back on our
      thinking, and connect with a community that cares about privacy, choice,
      and sustainability as much as you do. Your voice moves us forward!
    </p>
    <p>
      <strong>
        Limited tickets available early February – watch this space for details.
      </strong>
    </p>
  </div>
</FullImage>
