---
import Container from "../components/Container.astro";
import Content from "../components/Content.astro";
---

<Container containerClass="container--column">
  <Content>
    <p class="button button--hollow tag">OUR 2026 THEME</p>
    <h2 class="h2">Building in the Open</h2>
    <div class="content-container text-center">
      <p class="p--large">
        Experience the real process/how we work, the decisions, challenges, and
        debates – live and unfiltered!
      </p>
    </div>
  </Content>
</Container>

<style lang="scss">
  .tag {
    margin-bottom: 2rem;
  }
</style>
