---
import Content from "../components/Content.astro";
---

<Content>
  <p class="button button--hollow">OUR 2026 THEME</p>
  <h2 class="h2">Building in the Open</h2>
  <div class="content-container">
    <p>
      Experience the real process/how we work, the decisions, challenges, and
      debates – live and unfiltered!
    </p>
  </div>
</Content>
