---
import Container from "../components/Container.astro";
import Content from "../components/Content.astro";
---

<Container containerClass="container--column">
  <Content>
    <h2 class="h2">Building in the Open</h2>
    <div class="content-container text-center">
      <p class="p--large">
        We're taking transparency to the next level – join us live to find out
        how!
      </p>
    </div>
  </Content>
</Container>

<style lang="scss">
  .tag {
    margin-bottom: 2rem;
  }
</style>
