---
import Container from "../components/Container.astro";
import FAQ from "../components/FAQ.astro";
import FAQItem from "../components/FAQItem.astro";
---

<Container>
  <FAQ>
    <FAQItem title="What is State of the Open Home?">
      The State of the Open Home is our annual event where we celebrate
      community achievements, see what we’ve built together, and imagine what
      comes next. Previous editions have been fully online, but this year we’re
      hosting a live audience, while still streaming for our global community.
    </FAQItem>
    <FAQItem title="When and where is the event?">
      On April 8, 2026, at TivoliVredenburg (Utrecht, The Netherlands).
    </FAQItem>
    <FAQItem title="What is the event format?">
      State of the Open Home 2026 is a hybrid event. You can join us in person
      at TivoliVredenburg for the full experience (dinner, talks, and
      networking) or tune into the high-quality livestream from anywhere in the
      world.
    </FAQItem>
    <FAQItem title="What is the schedule?">
      <ul>
        <li>18:00 – 19:30: Walk-in & casual dinner</li>
        <li>19:30 – 21:30: Main stage keynote & programming</li>
        <li>21:30 – 22:30: Drinks & networking</li>
      </ul>
    </FAQItem>
    <FAQItem title="Will State of the Open Home be recorded?">
      Yes. We plan to livestream and record the sessions for those who cannot
      join us in person.
    </FAQItem>
  </FAQ>
</Container>
