---
import Container from "../components/Container.astro";
import FAQ from "../components/FAQ.astro";
import FAQItem from "../components/FAQItem.astro";
---

<Container>
  <FAQ>
    <FAQItem title="What is State of the Open Home?">
      <p>
        The State of the Open Home is our annual event where we celebrate
        community achievements, share what we’ve built together, and get excited
        about what comes next. Previous editions have been online only, but this
        year we’re hosting an audience, while still live streaming for our
        global community.
      </p>
    </FAQItem>
    <FAQItem title="When and where is the event?">
      <p>
        Wednesday, April 8, 2026, at the TivoliVredenburg entertainment venue in
        Utrecht, the Netherlands
      </p>
    </FAQItem>
    <FAQItem title="What is the event format?">
      <p>
        State of the Open Home 2026 is a hybrid event. You can join us in person
        at TivoliVredenburg for the full experience (dinner, talks, and
        networking) by buying a ticket, or tune into our high-quality livestream
        from anywhere in the world.
      </p>
    </FAQItem>
    <FAQItem title="What is the schedule?">
      <ul>
        <li>
          18:00 to 19:30, K.F. Hein and Pandora foyers: Meet and greet and
          casual dinner
        </li>
        <li>19:30 to 21:30, Pandora Hall: Building in the Open program</li>
        <li>
          21:30 to 22:30, K.F. Hein and Pandora foyers: Networking and drinks
        </li>
      </ul>
    </FAQItem>
    <FAQItem
      title="I won’t be able to watch live. Will State of the Open Home be recorded?"
    >
      <p>
        Yes. We plan to livestream and film the sessions for those who cannot
        join us in person.
      </p>
    </FAQItem>
    <FAQItem title="Will I be filmed or photographed at the event?">
      <p>
        State of the Open Home will be photographed and filmed. By attending the
        event, you acknowledge that you may appear in this media. However, we
        respect your privacy and will carefully assess every use of photo and
        video materials. For more information, please read our <a
          href="/privacy-policy">privacy policy</a
        >.
      </p>
    </FAQItem>
    <FAQItem title="Are there security cameras at the venue?">
      <p>
        TivoliVredenburg operates security cameras throughout the venue for
        safety purposes. By entering, you consent to security recording in
        accordance with <a
          href="https://www.tivolivredenburg.nl/english/house-rules/"
          rel="noopener noreferrer"
          target="_blank">TivoliVredenburg’s policy</a
        >.
      </p>
    </FAQItem>
    <FAQItem title="Is there somewhere I can leave my bag and coat?">
      <p>
        Yes, TivoliVrendenburg has cloakrooms so you don’t have to carry your
        belongings around with you. Please note, the venue does not allow bags
        to be brought into the hall where our main program is held.
      </p>
    </FAQItem>
  </FAQ>
</Container>
