---
import Container from "../components/Container.astro";
import FAQ from "../components/FAQ.astro";
import FAQItem from "../components/FAQItem.astro";
---

<Container>
  <FAQ>
    <FAQItem title="What does my in-person ticket include?">
      <p>
        Your ticket includes access to all sessions, and a casual dinner
        featuring international street food-style cuisine served from fixed
        stations and trays. Vegetarian and vegan options will be available.
      </p>
    </FAQItem>
    <FAQItem title="How do I buy a ticket?">
      <p>
        We will be releasing tickets on our website in early February. When you
        register, you’ll be asked to agree to our <a
          href="/terms-and-conditions/">Event Terms and Conditions</a
        >, which you can preview beforehand. And if you aren’t able to snag a
        ticket to the in-person event this time, don’t worry: we’ll be streaming
        the whole program live on our <a
          href="https://www.youtube.com/@OpenHomeFndn"
          target="_blank">YouTube channel</a
        >.
      </p>
    </FAQItem>
    <FAQItem title="How do I access my ticket?">
      <p>
        Once you register for State of the Open Home and your payment is
        confirmed, you’ll receive an email containing your QR-coded ticket. We
        also recommend saving the link to your order confirmation page, so you
        can view your order status, change your details, or download your ticket
        again later if needed. Please bring your ticket to the event; we’ll scan
        your code at the entrance to provide your badge. If you have any
        questions or need assistance with your ticket, feel free to contact us
        at <a href="mailto:events@openhomefoundation.org" target="_blank"
          >events@openhomefoundation.org</a
        >. We’re here to help!
      </p>
    </FAQItem>
    <FAQItem title="Do I need to print out  my ticket?">
      <p>
        There’s no need to print your ticket (unless you want to!) since the QR
        code will be scannable on a smartphone.
      </p>
    </FAQItem>
    <FAQItem title="Are there seats in the venue?">
      <p>
        Yes. The main program will be in Pandora Hall, which will have
        non-allocated seating for all ticket holders. Our networking foyers
        (K.F. Hein and Pandora) feature a mix of seating and floor space. If you
        have difficulty standing for long periods, or would like assistance,
        please contact us or speak to a staff member on-site – our <a
          href="/accessibility-guide/">accessibility guide</a
        > has more details.
      </p>
    </FAQItem>
  </FAQ>
</Container>
