---
import Container from "../components/Container.astro";
import FAQ from "../components/FAQ.astro";
import FAQItem from "../components/FAQItem.astro";
---

<Container>
  <FAQ>
    <FAQItem title="What does my in-person ticket include?">
      <p>Access to all sessions, dinner, and two drink vouchers.</p>
    </FAQItem>
    <FAQItem title="What is the refund policy?">
      <p>TBC</p>
    </FAQItem>
    <FAQItem title="Can I transfer the ticket to another person?">
      <p>TBC</p>
    </FAQItem>
    <FAQItem title="What policies should I be aware of as an attendee?">
      <p>
        When registering for this event, you will be asked to agree to our Event
        Terms and Conditions. You can preview these terms before registering
        here (add link to Terms and Conditions page).
      </p>
    </FAQItem>
    <FAQItem title="Are there seats in the venue?">
      <p>
        Yes. Our networking foyers (KF Hein and Pandora foyer) and the
        presentations area (Pandora Hall) feature a mix of seating and floor
        space. If you have difficulty standing for long periods or would like
        assistance, please contact us or speak to a staff member on-site.
      </p>
    </FAQItem>
  </FAQ>
</Container>
