---
import Container from "../components/Container.astro";
import Content from "../components/Content.astro";
import Button from "../components/Button.astro";
---

<Container containerClass="container--column">
  <Content>
    <h3 class="h2">What is State of the Open Home?</h3>
    <div class="content-container text-center">
      <p>
        State of the Open Home is our annual event where we celebrate our
        community, share successes, and get excited about what's coming next.
        This year you can be in the room with us – join our audience to be part
        of the inspiring conversations, lively debate, and creative energy that
        flows when Open Home advocates get together!
      </p>
    </div>
    <div class="buttons-container animate--fade-up">
      <Button
        class="primary"
        href="https://www.youtube.com/watch?v=XyAL1to3Lm4"
        target="_blank"
        class="button button--primary"
        icon="youtube"
        starburst={true}
      >
        Rewatch the 2026 event
      </Button>
      <Button
        class="primary"
        href="https://www.youtube.com/watch?v=o4Vctz1_KYE"
        target="_blank"
        class="button button--primary"
        icon="youtube"
        starburst={true}
      >
        Rewatch the 2025 event
      </Button>
    </div>
  </Content>
</Container>
