---
import Container from "../components/Container.astro";
import Content from "../components/Content.astro";
import { logos } from "../lib/logos";
---

<Container containerClass="container--column">
  <Content>
    <h3 class="h2">Why we’re building in the open</h3>
    <div class="content-container text-center">
      <p>
        This year, we're shifting our focus from what we do to how we do it.
        Building in the open is more than just shipping open source code – it
        means you get to see why decisions are made, the tough calls, and
        breakthroughs as we figure them out together. Because when you feel the
        passion behind our work, it spreads – passion is contagious.
      </p>
    </div>
    <div class="logo-cards">
      <div class="logo-card">
        <Fragment set:html={logos.openHomeFoundation} />
      </div>
      <div class="logo-card">
        <Fragment set:html={logos.homeAssistant} />
      </div>
      <div class="logo-card">
        <Fragment set:html={logos.esphome} />
      </div>
      <div class="logo-card">
        <Fragment set:html={logos.musicAssistant} />
      </div>
    </div>
  </Content>
</Container>

<style lang="scss">
  .logo-cards {
    display: flex;
    flex-wrap: wrap;
    gap: 20px 52px;
    justify-content: center;

    .logo-card {
    }
  }

  .content-container {
    margin-bottom: 4rem;
  }
</style>
