---
import Container from "../components/Container.astro";
import Content from "../components/Content.astro";
import { logos } from "../lib/logos";
---

<Container containerClass="container--column">
  <Content>
    <h3 class="h2">Why we’re building in the open</h3>
    <div class="content-container text-center">
      <p>
        It's always been at the heart of what we do – and we're incredibly proud
        of it. So this year, we're putting it front and center. Building in the
        open is about more than shipping open source code. It's seeing how
        decisions are made, working through challenges together, and figuring
        things out as we go. It's what makes our community so special, and it's
        key to what we'll achieve together next.
      </p>
    </div>
    <div class="logo-cards animate--fade-up">
      <div class="logo-card">
        <Fragment set:html={logos.openHomeFoundation} />
      </div>
      <div class="logo-card">
        <Fragment set:html={logos.homeAssistant} />
      </div>
      <div class="logo-card">
        <Fragment set:html={logos.esphome} />
      </div>
      <div class="logo-card">
        <Fragment set:html={logos.musicAssistant} />
      </div>
    </div>
  </Content>
</Container>

<style lang="scss">
  .logo-cards {
    display: flex;
    flex-wrap: wrap;
    gap: 1.625rem 3.25rem;
    justify-content: center;

    .logo-card {
    }
  }

  .content-container {
    margin-bottom: 4rem;
  }
</style>
