---
import Content from "../components/Content.astro";
---

<Content>
  <h3 class="h2">Why we’re building in the open</h3>
  <div class="content-container">
    <p>
      This year, we're shifting our focus from what we do to how we do it.
      Building in the open is more than just shipping open source code – it
      means you get to see why decisions are made, the tough calls, and
      breakthroughs as we figure them out together. Because when you feel the
      passion behind our work, it spreads – passion is contagious.
    </p>
  </div>
</Content>
