---
// Import global styles
import "../styles/_variables.scss";
import "../styles/_reset.scss";
import "../styles/_global.scss";
import "../styles/_typography.scss";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>SOTOH</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&family=Special+Gothic+Expanded+One&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <slot name="header" />
    <div id="smooth-wrapper">
      <div id="smooth-content">
        <slot />
      </div>
    </div>
  </body>
</html>

<style is:global>
  html,
  body {
    margin: 0;
  }

  #smooth-content {
    padding-top: var(--header-height);
  }
</style>

<script>
  import gsap from "gsap";
  import { ScrollTrigger } from "gsap/ScrollTrigger";
  import { ScrollSmoother } from "gsap/ScrollSmoother";

  gsap.registerPlugin(ScrollTrigger, ScrollSmoother);

  const mm = gsap.matchMedia();

  mm.add(
    {
      reduceMotion: "(prefers-reduced-motion: reduce)",
      normal: "(prefers-reduced-motion: no-preference)",
    },
    (context) => {
      const { reduceMotion } = context.conditions!;

      if (!reduceMotion) {
        ScrollSmoother.create({
          smooth: 1,
          effects: true,
        });
      }

      if (reduceMotion) {
        gsap.defaults({ duration: 0 });
      }
    }
  );
</script>
